/* header global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    max-width: none;
    width: 100vw;
}
body {
    font-family: sans-serif;
}


.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    max-width: 1200px;
    margin: 20px 20px;
}

header{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
}

main{
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    align-items: center;
}

footer{
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
}


#nav-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    min-width: 100%;
    flex-shrink: 1;
}

#list-header, #list-header-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 20px 0px;
}

#list-header li, #list-header-2 li {
    font-size: small;
}

#search-input {
    border-style: none;
    width: 8rem;
    height: 100%;
}

#search-div {
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: grey;
    width: 11rem;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 7px;
    justify-content: space-between;
}

/* footer global */

#footer{
    display: flex;
    flex-direction: column;
    border-top-style: solid;
    border-width: 1px;
}
#footer p {
    max-width: 60%;
}
#footer section{
    margin-top: 20px;
}

#footer section p{
    font-size: 12px;
}

#bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#section-bottom-1, #section-bottom-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;

}
#list-bottom-2, #list-bottom-1, #list-bottom-3 {
    list-style: none;
    display: flex;
    padding: 0;
}

#list-bottom-3{
    gap: 10px;
}

#list-bottom-1 p, #list-bottom-2 p{
    margin: 0;
}

#list-bottom-2, #list-bottom-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#list-bottom-1 li, #list-bottom-1 a,
#list-bottom-2 li, #list-bottom-2 a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

#list-bottom-1 li p, #list-bottom-3 li p, #list-bottom-2 li p{
    font-weight: bold;
}

#footer h4{
    margin: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
}



/* body index*/


#scroll-container{
    max-width: 100%;
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
}

#scroll-container img{
    object-fit: cover;
    border-radius: 15px;
    width: 100%;

}

#text-bilder{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    top: 430px;
    max-width: 90%;
    z-index: 1;
}
#text-bilder h1, #pp{
    text-align: end;
}


#lesmer{
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 20px;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#text-bilder-index p{
    font-size: small;
}

#text-bilder-index h1{
    font-size: medium;
}

#populære-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 80px 0;
}
#items-outer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin-top: 2rem;
}

#text-pop-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text-pop-items p {
    font-size: medium;
    margin: 1rem 0 2rem 0;
}

#buttons-index{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
}

#buttons-index a{
    text-decoration: none;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: small;
     
}
#product-1, #product-2,#product-3,#product-4,#product-5,#product-6{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 30px;
}
#product-1 img, #product-2 img,#product-3 img,#product-4 img,#product-5 img,#product-6 img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
 #product-review1, #product-review2, #product-review3, #product-review4, #product-review5, #product-review6{
    display: flex;
    flex-direction: row;
}

#items-outer p{
    padding: 0 5px;
}

#product-title1, #product-title2, #product-title3, #product-title4, #product-title5, #product-review1 ol, #product-review2 ol, #product-review3 ol, #product-review4 ol, #product-review5 ol, #product-review6 ol{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 0;
    justify-content: space-between;
    width: 100%;
}

#kategorier {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}
#kategorier-container1, #kategorier-container2, #kategorier-container3, #kategorier-container4, #kategorier-container5 {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 0;
}

#kategorier-container1 p, #kategorier-container2 p, #kategorier-container3 p, #kategorier-container4 p, #kategorier-container5 p{
    position: absolute;
    top: 45%;
    left: 34%;
    z-index: 3;
    font-weight: 800;
    font-size: large;
}

#kategorier figure, #kategorier-s{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: center;
}

#kategorier img {
    width: 100%;
    opacity: 0.5;
    background: rgb(0, 0, 0);
}
#anmeldelser{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem 0;
    gap: 10px;
}

#anmeldelser p{
    max-width: 100%;
}

#anmeldelser section{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

#anmeldelser section img{
    width: 190px;
    height: 190px;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
}

#anmeldelser section ol{
    list-style: none;
    text-decoration: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}
#anmelselser-tittel{
    width: 100%;
    text-align: start;
    padding: auto;
    margin-left: 20px;
}


/* body products*/

#nav-products{
    min-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
}

#nav-products ol{
    min-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.608) !important;
}


#produkt-bilde, #lignende-produkter{
    max-width: 100%;
    background-color: transparent;
    margin: 20px 0;
}

#produkt-bilde img{
    object-fit: cover;
    width: 100%;
    margin: 10px 0;
}

#lignende-produkter img {
    width: 95%;
}

#lignende-produkter article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 30px;
}

#produkt-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#lignende-produkter figure section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding-bottom: 30px;
}


































/* body checkout*/


#shopping-bag {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#shopping-bag h3, #produktbeskrivelse h3, #levering h3, #betaling h3{
    font-size: 25px;
    font-weight: 750;
    width: 100%;
    margin: 20px 0;
}
#levering p, #betaling p{
    margin: 15px 0 !important;
}
#betal p {
    font-weight: 400 !important;
}

#shopping-bag section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#shopping-bag section img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 20px 0;
}

#produktbeskrivelse{
    width: 100%;
}

#produktbeskrivelse p {
    padding: 5px 0;
}

#dine-opplysninger, 
#levering,
#betaling {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 30px 0;
}

#dine-opplysninger p{
    font-weight: 800;
}

#input-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#dine-opplysninger form, 
#levering form,
#betaling form,
#input-field form{
    min-width: 100%;
}

#input-field input{
    margin: 5px 0 0 0;
}

input[type=text], input[type=number], input[type=date]{
    width: 98%;
    height: 3rem;
}

#input-field form input[type=text]{
    padding: 20px;
}

input[type=submit], button {
    width: 5rem;
    height: 3rem;
    border-radius: 0;
    border-color: grey;
    background-color: rgb(46, 46, 46);
    color: white;
    margin: 30px 0px !important;
}

#levering form label, #levering p {
    padding: 10px 0;
    font-weight: 600;
}


input[type="checkbox"]{
    border-radius: 10px;
}

#bekreft{
    margin-bottom: 1rem !important;
}
#bekreft p {
    font-weight: 500;
}
#nyhetsbrev label{
    font-size: 15px;
}
#nyhetsbrev::after{
    content: "";
    display: block;
    height: 2rem;
}

#leveringsmetode P{
    color: rgb(65, 65, 65);
    font-weight: 200;
    padding-left: 10px;
}



@media (min-width: 481px) {
    body {
      font-size: 18px;
      max-width: 100%;
    }
    

    header{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    
    main {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: center;
        margin-top: 5rem;
    }
    
    
    footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #bottom-section {
        display: flex;
        flex-direction: row;
    }

    .grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header" "header" "header" "main""main""main" "footer" "footer" "footer";
    }

    #search-div{
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a{
        font-size: 0.9em;
    }

    #nav-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 10px;
        width: 100%;
    }

    #list-header, #list-header-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
    }

    #text-bilder-index{
        top: 20rem;
        right: 2rem;
    }

    #text-pop-items p {
        margin: 3rem 0 6rem 0;
    }

    #scroll-container{
        max-width: 100%;
        height: 30rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    
    #scroll-container img{
        object-fit: cover;
        object-position: 50%;
        border-radius: 15px;
        width: 100%;
    }

    #items-outer{
        width: 100%;
        gap: 10px;
    }
    

    #text-pop-items p {
        font-size: medium;
        margin: 1rem 0 2rem 0;
    }
    
    
    #kategorier {
        width: 100%;
        max-height: none;
    }
    
    
    #kategorier-inner a{
        width: 200px;
        height: 200px;
        line-height: 200px;
    }

    #anmelselser-tittel{
        padding: 0;
    }
    #anmeldelser div{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        max-width: 100%;
    }
    #anmeldelser div section{
        width: 289px;
        overflow-y: hidden;
    }
    
    #anmeldelser div section img{
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }
    
    
    a{
        text-decoration: none;
        color: black;
    }
    
    
    #product-cart{
        flex-direction: row;
    }
    #product-cart img {
        object-fit: cover;
    }
    
    #produktbeskrivelse{
        width: 100%;
    }
    
    #dine-opplysninger, 
    #levering,
    #betaling,
    #shopping-bag {
        width: 100%;
        border-style: solid;
        border-width: 1px;
        padding: 50px;
        border-color: rgba(80, 80, 80, 0.479);
        margin-top: 3rem;
    }
    
    #dine-opplysninger p{
        font-weight: 800;
    }
    
    #input-field{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #dine-opplysninger form,
    #betaling form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #levering form{
        width: 100%;
    }
    #betaling form{
        margin-bottom: 10px;
    }

    #dine-opplysninger form{
        justify-content: space-between;
        align-items: baseline;
    }
    #gateadresse{
        width: 100%;
    }
    
    input[type=text], input[type=number], input[type=date]{
        width: 100%
    }
    
    input[type=submit], button{
        width: 100%;
        height: 3rem;
        border-radius: 0;
        border-color: grey;
        background-color: rgb(46, 46, 46);
        color: white;
    }
    
    #levering form label, #levering p {
        font-weight: 600;
    }
    
    input[type="checkbox"]{
        border-radius: 10px;
    }
    
    #betaling p {
        margin: 5px 0;
        font-weight: 600;
    }
    
    #kredittinformasjon{
        margin-bottom: 2rem;
    }
    
    #a-betale, #bekreftelse{
        font-weight: 400 !important;
        margin-top: 2rem !important;
    }
    #bekreftelse{
        margin-bottom: 1rem !important;
    }
    #nyhetsbrev label{
        font-size: 15px;
    }
    #nyhetsbrev::after{
        content: "";
        display: block;
        height: 2rem;
    }
    #product-1, #product-2,#product-3,#product-4,#product-5,#product-6{
        max-width: 350px;
    }
    #kategorier article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    #bilder-små{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #bilder-små img{
        max-width: 30%;

    }
    #seksjon-1-produkt{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
        width: 100%;
    }


    #bilde-stort{
        margin: 0;
        width: 100%;
    }

    #produkt-bilde{
        width: 60%;
        max-width: 500px;
    }

    #produkt-info{
        width: 40%;
        padding-left: 40px;
        padding-top: 40px;
    }
    #lignende-produkter{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #lignende-produkter figure{
        width: 350px;
    }
    #lignende-produkter h2{
        text-align: center;
        margin: 20px 0;

    }
    #alle-kort{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #shopping-bag section {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 30px;
    }

    #shopping-bag section section{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #shopping-bag section img {
        max-width: 345px;
    }
    #leveringsmetode P{
        color: rgb(87, 87, 87);
        font-weight: 200;
        padding-left: 10px;
    }
    #betal{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    #betal h3{
        text-align: center;
    }

}
