/* header global */
* {
    margin: 0;
    padding: 0;
}
html{
    max-width: none;
    width: 100%;
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    overflow-x: hidden !important;
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-width: 0;
}

header, main, footer{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    margin: 2rem 1rem;
    max-width: 1200px;
}

header{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
}

main{
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    align-items: center;
}

footer{
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
}


#nav-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    min-width: 100%;
    flex-shrink: 1;
}

#list-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 20px 0px;
}

#list-header li {
    font-size: small;
}

#search-input {
    border-style: none;
    width: 8rem;
    height: 100%;
}

#search-div {
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: grey;
    width: 11rem;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 7px;
    justify-content: space-between;
}

/* footer global */

#footer{
    display: flex;
    flex-direction: column;
    border-top-style: solid;
    border-width: 1px;
}
#footer p {
    max-width: 60%;
}
#footer section{
    margin-top: 20px;
}

#footer section p{
    font-size: 12px;
}

#bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#section-bottom-1, #section-bottom-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
#list-bottom-2, #list-bottom-1, #list-bottom-3 {
    list-style: none;
    display: flex;
    padding: 0;
}
#list-bottom-3{
    gap: 4px;
}

#list-bottom-1 p{
    margin: 0;
}

#list-bottom-2, #list-bottom-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#list-bottom-1 li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

#list-bottom-1 li p{
    font-weight: bold;
}

h4{
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}



/* body index*/


#scroll-container{
    max-width: 100%;
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
}

#scroll-container img{
    object-fit: cover;
    border-radius: 15px;
    width: 100%;

}

#text-bilder-index{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    max-width: 60%;
    right: 3rem;
    top: 26rem;
    z-index: 1;
}
#text-bilder-index h1, #pp{
    text-align: end;
}


#lesmer{
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 20px;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#text-bilder-index p{
    font-size: small;
}

#text-bilder-index h1{
    font-size: medium;
}

#populære-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}
#items-outer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 30px;
    margin-top: 2rem;
}

#text-pop-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text-pop-items p {
    font-size: medium;
    margin: 1rem 0 2rem 0;
}

#buttons-index{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
}

#buttons-index a{
    text-decoration: none;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: small;
     
}
#product {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 20rem;
    height: 30rem;
    gap: 10px;
}
#product img {
    object-fit: cover;
    width: 19rem;
    height: 19rem;
    border-radius: 20px;
}
#product-title{
    justify-content: space-between;
    width: 100%;
}
#product-title, #product-review{
    display: flex;
    flex-direction: row;
}

#product-title p{
    padding: 0 5px;
}

#product-title, #product-review ol{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 0;
}

#kategorier {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#kategorier-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#kategorier-inner a{
    width: 60%;
    text-align: center;
    height: 300px;
    padding: 30px 40px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgba(40, 40, 40, 0.822);
    line-height: 300px;
}
#anmeldelser{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem 0;
    gap: 10px;
}

#anmeldelser p{
    max-width: 70%;
}

#anmeldelse{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

#anmeldelse img{
    width: 190px;
    height: 190px;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
}

#anmeldelse ol{
    list-style: none;
    text-decoration: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}
#anmelselser-tittel{
    width: 100%;
    text-align: start;
    padding-left:10rem;
}


/* body products*/

#nav-products{
    min-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
}

#nav-products ol{
    min-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.608) !important;
}

#nav-products ol{
    color: rgba(0, 0, 0, 0.608) !important;
}

#produkt-bilde, #lignende-produkter{
    max-width: 90%;
    background-color: transparent;
}
#produkt-bilde img, #lignende-produkter img{
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
}
#produkt-info{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* body checkout*/
#shopping-bag {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#product-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#product-cart img {
    width: 95%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#produktbeskrivelse{
    width: 100%;
}

#dine-opplysninger, 
#levering,
#betaling {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#dine-opplysninger p{
    font-weight: 800;
}

#input-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#dine-opplysninger form, 
#levering form,
#betaling form{
    width: 100%;
}

input[type=text], input[type=number], input[type=date]{
    width: 98%;
    height: 3rem;
}

input[type=submit]{
    width: 5rem;
    height: 3rem;
    border-radius: 0;
    border-color: grey;
    background-color: rgb(46, 46, 46);
    color: white;
}

#levering form label, #levering p {
    font-weight: 600;
}

input[type="checkbox"]{
    border-radius: 10px;
}

#betaling p {
    margin: 5px 0;
    font-weight: 600;
}

#kredittinformasjon{
    margin-bottom: 2rem;
}

#a-betale, #bekreftelse{
    font-weight: 400 !important;
    margin-top: 2rem !important;
}
#bekreftelse{
    margin-bottom: 1rem !important;
}
#nyhetsbrev label{
    font-size: 15px;
}
#nyhetsbrev::after{
    content: "";
    display: block;
    height: 2rem;
}



@media (min-width: 481px) {
    body {
      font-size: 18px;
      max-width: 100%;
    }
    

    header{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    
    main {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: center;
        margin-top: 5rem;
    }
    
    
    footer{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header" "header" "header" "main""main""main" "footer" "footer" "footer";
    }

    #search-div{
        width: 170px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
        font-size: 0.9em;
    }

    #nav-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 10px;
        width: 100%;
    }

    #list-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
    }

    #text-bilder-index{
        top: 20rem;
        right: 2rem;
    }

    #text-pop-items p {
        margin: 3rem 0 6rem 0;
    }

    #scroll-container{
        max-width: 100%;
        height: 30rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    
    #scroll-container img{
        object-fit: cover;
        object-position: 50%;
        border-radius: 15px;
        width: 100%;
    }

    #items-outer{
        width: 100%;
        gap: 10px;
    }
    

    #text-pop-items p {
        font-size: medium;
        margin: 1rem 0 2rem 0;
    }
    
    
    #kategorier {
        width: 100%;
        max-height: none;
    }
    
    #kategorier-inner{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        gap: 10px;
        width: 100%;
    }
    
    #kategorier-inner a{
        width: 200px;
        height: 200px;
        line-height: 200px;
    }

    #anmelselser-tittel{
        padding: 0;
    }
    #anmeldelser{
        flex-direction: row;
        overflow-x: auto;

    }
    
    
    #anmeldelse img{
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }
    
    
    a{
        text-decoration: none;
        color: black;
    }
    
    
    #product-cart{
        flex-direction: row;
    }
    #product-cart img {
        object-fit: cover;
    }
    
    #produktbeskrivelse{
        width: 100%;
    }
    
    #dine-opplysninger, 
    #levering,
    #betaling,
    #shopping-bag {
        width: 70%;
        border-style: solid;
        border-width: 1px;
        padding: 50px;
        border-color: rgba(80, 80, 80, 0.479);
        margin-top: 3rem;
    }
    
    #dine-opplysninger p{
        font-weight: 800;
    }
    
    #input-field{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #dine-opplysninger form, 
    #levering form,
    #betaling form{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
    }

    #dine-opplysninger form{
        justify-content: space-between;
        align-items: baseline;
        height: 20rem;
    }
    #gateadresse{
        width: 100%;
    }
    
    input[type=text], input[type=number], input[type=date]{
        width: 45%;
        height: 3rem;
    }
    
    input[type=submit]{
        width: 5rem;
        height: 3rem;
        border-radius: 0;
        border-color: grey;
        background-color: rgb(46, 46, 46);
        color: white;
    }
    
    #levering form label, #levering p {
        font-weight: 600;
    }
    
    input[type="checkbox"]{
        border-radius: 10px;
    }
    
    #betaling p {
        margin: 5px 0;
        font-weight: 600;
    }
    
    #kredittinformasjon{
        margin-bottom: 2rem;
    }
    
    #a-betale, #bekreftelse{
        font-weight: 400 !important;
        margin-top: 2rem !important;
    }
    #bekreftelse{
        margin-bottom: 1rem !important;
    }
    #nyhetsbrev label{
        font-size: 15px;
    }
    #nyhetsbrev::after{
        content: "";
        display: block;
        height: 2rem;
    }
}
